.seasonsTab {
  background: #fbfbfb;
  margin-bottom: 20px;
}
.seasonsTab__number {
  padding: 10px 25px;
  font-weight: bold;
}
.seasonsTab__block {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  cursor: pointer;
}
.seasonsTab__picture img {
  max-height: 110px;
}
.seasonsTab__name {
  min-width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.seasonsTab__name-strong {
  font-weight: bold;
}
.seasonsTab__desc {
  max-height: 120px;
  overflow: hidden;
}
.seasonsTab__action {
  margin-top: auto;
}
.season__series {
  display: none;
}
.season__series.active {
  display: block;
}
.header_button_creat {
  display: flex;
  justify-content: flex-end;
}
.create_search_tmdb {
  background: #2c333e;
  color: white;
  padding: 7px 16px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#pars_search_res {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}
.serres {
  font-size: 12px;
}
.serres__item {
  width: 300px;
  margin: 0 15px;
  border: 1px solid #f1f4f8;
  display: flex;
  box-shadow: 0 0 10px #e4e4e5;
  cursor: pointer;
}
.serres img {
  height: 130px;
  margin-right: 4px;
  width: 100px;
}
.serres__info {
  width: auto;
  flex-grow: 2;
  overflow: hidden;
}
.serres__desc {
  max-height: 75px;
  overflow: hidden;
}

