@font-face {
    font-family: 'Alice';
    src: url('https://божьянива.рф/assets/fonts/Alice-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('https://божьянива.рф/assets/fonts/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
