.btn_black {
    background-color: #23394a;
    color: #ffffff;
    border: 1px solid #23394a;
}

.btn_black:hover {
    background-color: #e44c65;
    border: 1px solid #e44c65;
}

.btn_red {
    background: #e44c65;
    border: 1px solid #e44c65;
    color: #ffffff;
}

.btn_red:hover {
    background-color: #23394a;
    border: 1px solid #23394a;
}

.btn_niva {
    outline: none;
    padding: 7px 16px;
    font-size: 18px;
    font-weight: normal;
}


#contact {
    background: #e7e7e7;
    color: black;

    p {
        color: black;
    }

    .contact_top, .contact_bottom {
        background: #fff;
        padding: 10px;
    }

    ul.tab-contact li a {
        color: #000;
        border: 2px solid #FF8B00;
    }

    ul.tab-contact li a.active {
        box-shadow: 0 0 8px #cf760d;
    }

    ul.tab-contact li a:hover {
        color: #FF8B00;
    }
}

#page {
    padding-top: 70px;
    background: #e7e7e7;
    min-height: 200px;
    padding-bottom: 50px;

    .page_wrap {
        background: #fff;
        padding: 25px;
    }

    .about-thumb {
        padding: 10px 50px;

        h1 {
            font-weight: 500;
        }
    }
}

.regular {
    box-shadow: 0 0 10px rgba(213,213,213, 0.7);
    padding: 20px 20px;
    display: block;
    text-decoration: none!important;
    border: 1px solid #eaeaea;


    h3 {
        margin-top: 0px;
        color: #e44c65;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__short {
        color: #403f3f;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 34px;
        text-decoration: none;
    }


}

.nivaForm {
    .form-control {
        background: rgb(232, 240, 254);
        box-shadow: none;
        border: 1px solid #f9f9f9;
        color: #000;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 14px;
        //transition: all 0.4s ease-in-out;
    }
    .form-control:focus {
        border-color: #e44c65;
        color: #000;
    }
    input {
        height: 55px;
    }
    input[type="submit"] {
        background: #e44c65;
        border: none;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 1px;
    }
    input[type="submit"]:hover {
        background: #222;
        color: #ffffff;
    }
}

.pop_container {
    -webkit-backface-visibility: hidden;
    height: 100%;
    left: 0;
    outline: none;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    transform: translateZ(0);
    width: 100%;
    z-index: 99992;

    .pop_bg {
        opacity: .9;
        transition-timing-function: cubic-bezier(.22,.61,.36,1);
        background: #1e1e1e;
        transition-duration: inherit;
        transition-property: opacity;
    }

    .pop_stage {
        overflow: hidden;
        direction: ltr;
        transform: translateZ(0);
        z-index: 99994;
    }

    .pop_slide {
        padding: 6px;
    }

    .pop_slide:before {
        content: "";
        display: inline-block;
        font-size: 0;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }

    .pop_content {
        display: block;
        width: 500px;
        background: #fff;
        margin: 50px auto;
        max-width: 100%;
        overflow: auto;
        padding: 44px;
        position: relative;
        text-align: left;
        vertical-align: middle;
    }

}

.pop_bg, .pop_inner, .pop_stage {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
